@import '~@fluentui/react/dist/sass/References.scss';

.pruebaPropertyPane {
  display: flex;
  justify-content: center;

  .button {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;

    &Dark {
      background-color: black;

      & > a {
        text-decoration: none;
        color: white;
      }
    }

    &Light {
      background-color: white;

      & > a {
        text-decoration: none;
        color: black;
      }
    }
  }
}